[submodule "vendor/gzcom-dll"]
	path = vendor/gzcom-dll
	url = https://github.com/caspervg/gzcom-dll.git
[submodule "vendor/d3d7imgui"]
    path = vendor/d3d7imgui
    url = https://github.com/caspervg/D3D7Imgui.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
